.slider {
    &_container {
        background: $block-color;
    }
    &_wrapper {
        overflow: hidden;
        height: 125px;
    }
    &_field {
        display: flex;
    }
    &_controls {
        display: flex;
        justify-content: space-between;
    }
    &_prev, &_next {
        background: $second-color;
    }
}
