.slider {
    &_container {
        background: $block-color;
        border-radius: 10px;
        padding: 10px;
    }
    &_wrapper {
        overflow: hidden;
        min-height: 125px;
    }
    &_field {
        display: flex;
    }
    &_controls {
        display: flex;
        justify-content: space-between;
    }
    &_prev, &_next {
        padding: 3px 12px;
        background: $second-color;
        border-radius: 10px;
        color: $bg-color;
        cursor: pointer;
    }
    &_indicators {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 8px;
        list-style: none;
    }
    &_dot {
        width: 30px;
        height: 10px;
        border-radius: 10px;
        background: $main-color;
        cursor: pointer;
    }
    &_active {
        background: $second-color;
    }
    &_counter {
        display: flex;
        justify-content: center;
    }
    .title {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .slider {
        &_indicators {
            gap: 0;
            background: $main-color;
            border-radius: 10px;
        }
    }
}
